* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* content */
.content {
    display: flex;
    flex-direction: column;
    height: 960px;
}

/* navbar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: 6%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    background: #242526;
}

/* the-rest side */
.the-rest-side {
    display: flex;
    flex: 1;
    background: #18191a;
}

/* navbar-1 */
.navbar-1 {
    display: flex;
    align-items: center;
    margin-left: 17.5px;
}

.navbar-1 a {
    text-decoration: none;
}

/* navbar-1-icon */
.facebook-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    width: 40px;
}

.navbar-1 form {
    margin-left: 10px;
}


.input-class {
    width: 100%;
    padding: 5px 10px 5px 10px;
    border-radius: 25px;
    border: none;
    color: #fff;
    outline: none;
    background: #3a3b3c;
}

::placeholder {
    color: #a9abb0;
}

.navbar-2 {
    display: flex;
    align-items: center;
}

.navbar-2 a {
    text-decoration: none;
}

.home {
    display: flex;
    align-items: center;
    fill: #6aa4ec;
    padding: 7.5px 50px 7.5px 50px;
    border-bottom: 1px solid #6aa4ec;
}

.nav-middle-icons {
    display: flex;
    align-items: center;
    fill: #fff;
    padding: 7.5px 50px 7.5px 50px;
    margin: 0 7.5px 0 7.5px;
}

.nav-middle-icons:hover {
    background: #3a3b3c;
    border-radius: 10%;
}

.nav-middle-icon {
    width: 28px;
    height: 28px;
}

.navbar-3 {
    display: flex;
    align-items: center;
}

.navbar-3 a {
    color: #000;
    text-decoration: none;
}

.profile-info {
    display: flex;
    align-items: center;
    padding: 7.5px;
    margin-right: 10px;
}

.profile-info:hover {
    background: #303031;
    border-radius: 10%;
}

.profile-name {
    margin-left: 7.5px;
}

p:hover {
    color: #ced1d4;
}

.nav-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background: #3a3b3c;
    margin: 0 2.5px 0 2.5px;
    fill: #fff;
}

.nav-icons:hover {
    background: #4e4f50;
}

.nav-icon:hover {
    fill: #ced1d4;
}


.nav-icon {
    width: 20px;
    height: 20px;
}

.nav-last-icon {
    margin-right: 12.5px;
}

/* left-side */
.left-side {
    display: flex;
    flex-basis: 20%;
    flex-direction: column;
}

.left-side a {
    color: black;
    text-decoration: none;
}

.sec {
    display: flex;
    flex-basis: 6%;
    margin-left: 10px;
}

.sec:hover {
    background: #303031;
    border-radius: 5%;
}

.sec-all {
    margin-top: 15px;
}

.sec-1 {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.sec-1-photo {
    width: 35px;
    height: 35px;
}

.sec-1-name {
    position: relative;
    margin-left: 10px;
    font-size: 16px;
}

.sec-last {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    margin-top: 10px;
}

p {
    font-family: 'Nunito Sans', sans-serif;
    color: #fff;
}

.main-side {
    display: flex;
    flex: 1;
}